
// ----COLORS------

$navtext-color: #463761;
$navhover-color: rgb(3 105 161);
$paragraph-color:  #514468;
$button-color: #5f30e2;
$h1-color: #19063d;
$price-color: #e92467;
$productbg-color: #f2f2f2;
$star-color: #fdc304;
$contact-textcolor: #020333;
$icon-color: #5f30e2;
// ----COLORS------


// ----FONTS------

$primay-font: 'Poppins', sans-serif;


// ----FONTS------

//------MEDIA QUERIES---

@mixin media-lg {
    @media screen and (min-width: 1024px) {
    @content;
    }
}

@mixin media-md {
    @media screen and (max-width: 768px) {
    @content;
    }
}


@mixin media-sm {
    @media screen and (max-width: 400px) {
    @content;
    }
}

@mixin media-cardlg {
    @media screen and (max-width: 1350px) {
    @content;
    }
}

@mixin media-cardmd {
    @media screen and (max-width: 1050px) {
    @content;
    }
}

@mixin media-cardsm {
    @media screen and (max-width: 700px) {
    @content;
    }
}

@mixin media-contactmd {
    @media screen and (max-width: 900px) {
    @content;
    }
}

@mixin media-contactsm {
    @media screen and (max-width: 660px) {
    @content;
    }
}

@mixin media-aboutmd {
    @media screen and (max-width: 1023px) {
    @content;
    }
}

//------MEDIA QUERIES---

@mixin reset {
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}