
main{
    height: 90vh;
    width: 100vw;
    display: flex;

    .heading{
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 0 60px;
        align-items: center;
        justify-content: center;

        h1{
            padding-bottom: 30px;
            font-size: 50px;
            letter-spacing: 5px;
            color: $h1-color;
            text-align: center;
        }
        p{
            color: $paragraph-color;
            letter-spacing: 5px;
            text-align: center;
            
        }
        button{
            margin-top: 50px;
            min-height: 45px;
            min-width: 180px;
            border-radius: 20px;
            border: none;
            color: white;
            font-size: 18px;
            background: $button-color;
            cursor: pointer;
            
            &:hover{
                scale: 1.1;
            }
        }
    }
    
    .images{
        display: none;

    img{
            margin-top: 20px;
            margin-left: 50px;
            width: 600px;
            height: 80vh;
        }
    }
    
}

@include media-lg{
    main{
        .heading{
            width: 50vw;

        }
        .images
        {
            display: block;
            width: 50vw;
        }
    }
}
@include media-sm{
    main{
        .heading{
            margin-top: 70px;
        
        }
    }
}